body .light{
    background-color: white;
    color: black;
}
.setup-Game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;
   
}

#difficulty_of_game{
   
    float: left;
    clear: none;
}
#time{
    float: left;
    clear: none;
}
#theme{
    float: left;
    clear: none;
}
.header-box{
    margin-top: 10px;
}

label{
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}
  
input[type=radio],
  input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5);
    cursor: pointer;
}

input[type = number]:hover{
    cursor: pointer;
}

.start_button{
    padding: 10px;
    cursor: pointer;
    width: 100px;
    display: grid;
    margin: auto;
}
.eraser_div{
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.eraser{
   
    cursor: pointer;
    display: grid;
    margin: auto;  
    background-color: #e7e7e7;;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  
    font-size: 14px;
}


.eraser_selected{
    background-color: limegreen;
    color: white;
}

.Game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  user-select: none;
}


#stats{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.view-solution{
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: grid;
    margin: auto;
}

.new_game_btn{
    
   padding: 10px;
   width: 100%;
   cursor: pointer;
   display: grid;
}
  
#new_game{
     display: none;
}

.number_box{
  
    display: flex;
    cursor: pointer;
}

.hidden{
    position: absolute;
    top: -100%;
}

#number-container >p{
   
    border: 1px solid black;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    font-size: 18pt;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 11px;
    

}

.tile{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 18pt;

}

.selected{
    background-color: limegreen;
}


.incorrect{
   
    color: red;
    
}

.correct{
   color: limegreen;   
}
.answer{
    color: limegreen;
}

#View-solution{
    display: none;
}

input[type=number]:focus{
    background-color: lightyellow;
    
}


input[type = radio]:checked + label {
    color: limegreen;
}

#game_result{
    display: none;
}

#Game_end_btn{
   display: none;
}


/* disable highlight on onClick event... */


button,
input,
select,
p,
div,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}


@media screen and (max-width: 1000px){
      .heading_tag{
        float: left !important;
        margin-left: 4px !important;
    }
    .header-box{
        float: left !important;
    }
    h3{
        font-size: 15px;
    }
    label{
        font-size: 15px;
    }
    .start_button{
        padding: 10px;
        cursor: pointer;
        width: 100px;
        display: grid;
        margin: auto;
    }
    
    .setup-Game{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        margin-top: 5px !important;
       
    }
    #theme{
       
        display: none;
    }
    #number-container >p{
       position: relative;
       padding: 2px;
       
    
    }

    #time{
        margin-bottom: 25px;
        margin-top: 5px;
    }
    
    
}

  



  

