html,
body {
  background-color: #fafafa;
  height: 100vh;
}

table {
  border: 2px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

body{
  background-color: #333333;
  color: white;
}
input {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #ffffff;
  outline: none;
}
.blank_cell{
    background-color: #ffffff;
   
}
.filled_cell{
  /* background-color: #eeeeee; */
  background-color: lightblue;
  width: 40px;
  height: 40px;
 
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  user-select: none;
}

.heading {
  text-align: center;
  margin-top: 5px;
}

.solvebtn{
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 100px;
}
.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-gap > div {
  margin: 15px; /* HERE WE ADD THE SPACE */
}

.scanbtn{
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 100px;
 
}

.upload-file{
  width: 100%;
  height: 100px;
  display: flex;

}



/* Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
} 

@media screen and (max-width: 1000px){
  .blank_cell {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #ffffff;
    outline: none;
  }
  .filled_cell {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
    background-color: lightblue;
    outline: none;
  }
}

#cell-0,
#cell-1,
#cell-2 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-2,
#cell-11,
#cell-20 {
  border-right: 2px solid #000000;
  user-select: none;

}
#cell-18,
#cell-19,
#cell-20 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-0,
#cell-9,
#cell-18 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-3,
#cell-4,
#cell-5 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-5,
#cell-14,
#cell-23 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-21,
#cell-22,
#cell-23 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-3,
#cell-12,
#cell-21 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-6,
#cell-7,
#cell-8 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-8,
#cell-17,
#cell-26 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-24,
#cell-25,
#cell-26 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-6,
#cell-15,
#cell-24 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-27,
#cell-28,
#cell-29 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-29,
#cell-38,
#cell-47 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-45,
#cell-46,
#cell-47 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-27,
#cell-36,
#cell-45 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-30,
#cell-31,
#cell-32 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-32,
#cell-41,
#cell-50 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-48,
#cell-49,
#cell-50 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-30,
#cell-39,
#cell-48 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-33,
#cell-34,
#cell-35 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-35,
#cell-44,
#cell-53 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-51,
#cell-52,
#cell-53 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-33,
#cell-42,
#cell-51 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-54,
#cell-55,
#cell-56 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-56,
#cell-65,
#cell-74 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-72,
#cell-73,
#cell-74 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-54,
#cell-63,
#cell-72 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-57,
#cell-58,
#cell-59 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-59,
#cell-68,
#cell-77 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-75,
#cell-76,
#cell-77 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-57,
#cell-66,
#cell-75 {
  border-left: 2px solid #000000;
  user-select: none;
}

#cell-60,
#cell-61,
#cell-62 {
  border-top: 2px solid #000000;
  user-select: none;
}
#cell-62,
#cell-71,
#cell-80 {
  border-right: 2px solid #000000;
  user-select: none;
}
#cell-78,
#cell-79,
#cell-80 {
  border-bottom: 2px solid #000000;
  user-select: none;
}
#cell-60,
#cell-69,
#cell-78 {
  border-left: 2px solid #000000;
  user-select: none;
}
